<div class="container-fluid">
<file-drop customstyle="file-drop-zone" (onFileDrop)="dropped($event)" 
  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Action - 1</button>
          <button class="dropdown-item">Another Action</button>
          <button class="dropdown-item">Something else is here</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="upload-table">
    <table class="table">
        <thead>
            <tr>
              <th>Start time</th>
              <th>End time</th>
              <th>Meeting id</th>
              <th>Instance id</th>
          </tr>
        </thead>
        <tbody class="upload-name-style">
            <tr *ngFor="let item of logAnalysis.meetingInstances; let i=index">
              <td><strong>{{ item.startTime }}</strong></td>
              <td><strong>{{ item.endTime }}</strong></td>
              <td><strong>{{ item.meetingId }}</strong></td>
              <td><strong>{{ item.instanceId }}</strong></td>
          </tr>
        </tbody>
    </table>
</div>
</div>
</file-drop>
  <div>
      <pre *ngFor="let line of logAnalysis.lines">{{ line.text }}</pre>
  </div>
</div>